/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
	letter-spacing: .05em;
}
nav {
	background-color: #111111;
}
.navbar-toggler {
	background-color: black;
	border: solid red 2px;
}
/*landing section*/
#landing {
	height: 95vh;
	background:
	linear-gradient(
		rgba(2, 0, 36, 0.4),
		rgba(0, 0, 0,0.75)
		),
	url(https://images.pexels.com/photos/193349/pexels-photo-193349.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)
	;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: darken;
}

#profileImgDiv {
	min-height: 30vh;
	min-width: 50vw;
}
@media only screen and (min-width: 992px) {
	#profileImgDiv {
		min-height: 30vh;
		min-width: 45%;
	}	
}

#profileimg {
	min-height: 100%;
	min-width: 100%;
	border-radius: 100%;
	border: solid #062 1px;
}

/*portfolio section*/
#portfolio {
	background-color: #373F51;
	align-items: center;
}
#portfolio h3 {
	font-size: 2.1rem;
}
.projbutton {
	text-decoration: none;
}
 
/*skills section*/
#skills {
	background-color: #959EB1;
}
#skills h3 {
	font-size: 2.1rem;
	color: darkgreen;
}
#skills .card {
	background-color: #959EB1;
	border: none;
}
@media only screen and (min-width: 600px) {
	#skills .card {
		margin: 0 12px 20px;
		height: 15vh;
		width: 30vw;
	}
	#skills img {
		height: 15vh;
	}
}
@media only screen and (min-width: 600px) {
	#skills .card {
		justify-content: center;
		height: 35vh;
		min-width: 80%;
		left: 3.5rem;

	}
	#skills img {
		height: 35vh;
	}
}
@media only screen and (min-width: 768px) {
	#skills .card {
		height: 20vh;
		width: 18vw;
		left: -1.5rem;
	}
	#skills img {
		height: 20vh;
	}
}

/*contact section*/
#contact {
	background:
	linear-gradient(
		rgba(2, 0, 36, 0.4),
		rgba(0, 0, 0,0.75)
		),
	url(../images/contact.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;
}

/*contact links*/
.fa-facebook-f {
	color: #3b5998;
}

.fa-twitter {
	color: #00aced;
}

.fa-instagram {
	color: #9b6954;
}

.fa-gitlab {
	color: #FC6D27;
}

.fa-html5 {
	color: #e44d26;
}

.fa-css3 {
	color: #32CD32;
}

.fa-bootstrap {
	color: #5bc0de;
}

/*google map*/
#gMap {
	width: 100%;
	display: block;
	border: none;
	height: 48.4vh;
	border-radius: 10px;
}

hr.py-1 {
	background-color: #E0E0E0;
}

button {
	background-color: #B3A5A0;
}
.sendbutton {
	background-color: #5EEB5B;
}


a.btn {
	font-family: 'Prompt', sans-serif;
	letter-spacing: .2em;
	background-color: #006C67;
}

button.btn {
	font-family: 'Prompt', sans-serif;
	letter-spacing: .2em;
	background-color: #0B111D;
}

/*projects card capstone*/
.card .img-fluid {
	height: 45vh;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.card .img-fluid {
		height: 25vh;
	}
	#gMap {
		height: 58vh;
	}
}

@media only screen and (min-width: 1200px) {
	#proj1div {
		margin-left: 12%;
	}
}

#sendbutton:hover {
	background-color: #0FFA4A;
	color: black;
	text-decoration: bold;
	font-size: 1.2rem;
}

@media only screen and (min-width: 992px) {
	#gMap {
		height: 40vh;
	}
}

@media only screen and (min-width: 1200px) {
	#gMap {
		height: 60vh;
	}
}

@media only screen and (max-width: 600px) {
	#landing {
		height: 100vh;
}